.Card {
  display: flex;
  flex-direction: column;
  border: solid orange 1px;
  width: 100%;
  margin-bottom: 10px;

  h3{
    color: black;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 16px;
    margin: 0;
    text-align: left;
    padding-bottom: 2px;

  }

  h5{
    color: rgb(117,114,115);
    font-size: 12px;
    padding-left: 15px;
    margin: 0;
    text-align: left;
    padding-bottom: 1px;
  }

  .buttons{
    cursor: default;
    margin-top: 2px;
    margin-left: 15px;
    text-align: left;

    .assignedTo{
      text-align: right;
      margin-top: -20px;
      padding-left: 5px;
      font-size: 17px;
    }

    a {
      padding-right: 5px;
      font-size: 15px;
      font-weight: 100;
    }

    a:hover {
      color: red;
    }

  }

  .move{
    position: relative;
    bottom: 80px;
    text-align: right;

  }

}






