.ColumnsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center;

  h3.queue {
    color: rgb(71,67,68);
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
  }

  h3.progress {
    color: rgb(102,97,98);
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;

  }

  h3.done {
    color: rgb(102,97,98);
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;

  }


}
